:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey_700: hsl(0, 0%, 20%);
    --Grey_800: hsl(0, 0%, 12%);
    --Grey_900: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--Grey_900);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 14px;
    color: var(--White);

}

.container {
    margin: 150px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

.card {
    display: inline;
    position: relative;
    background-color: var(--Grey_800);
    border-radius: 15px;
    padding: 40px;
    padding-bottom: 30px;
}

.himg {
    display: flex;
    justify-content: center;
}

.himg>img {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    margin-bottom: 30px;
}

.htxt {
    text-align: center;
    line-height: 40px;
    margin-bottom: 20px;
}

.htxt>h1 {
    font-weight: 700;
}

.htxt>h3 {
    color: var(--Green);
    font-weight: 600;
}

.htxt>p {
    display: inline;
    font-weight: 400;
    line-height: 0;
    font-size: 16px;
}

.slink {
    display: block;
    justify-content: center;
    align-items: center;
}

.slink>a {
    text-decoration: none;
    color: var(--White);
    font-weight: 600;
    display: block;
    background-color: var(--Grey_700);
    margin-bottom: 15px;
    padding: 15px 110px;
    text-align: center;
    border-radius: 10px;
}

.slink>a:hover {
    background-color: var(--Green);
    color: var(--Grey_800);
}

@media screen and (max-width: 513px)  {
  .container{
    display: flex;
    margin: 10px;
    transition-duration: 400ms;
  }
  .htxt>p{
    text-wrap: nowrap;
  }
  .slink>a{
    text-wrap: nowrap;
  }
}